.custom-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .custom-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
  }
  
  .slider-item {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .slider-item {
      width: 30px;
      height: 30px;
    }
  }
  
  @media screen and (max-width: 380px) {
    .slider-item {
      width: 20px;
      height: 20px;
    }
  }
  
  .scroll-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .scroll-button.left {
    left: 10px;
  }
  
  .scroll-button.right {
    right: 10px;
  }
  